<!DOCTYPE html>
<img width="300" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  VEHICLE TRACKING SYSTEM</p>
<head>
 <title>vehicle tracking system </title>
 <link rel="stylesheet" type="text/css" href="css/style.css"
</head>
A vehicle tracking system combines the use of automatic vehicle location in individual vehicles with software<p></p>
 that collects these fleet data for a comprehensive picture of vehicle locations. Modern vehicle tracking systems<p>
 commonly use GPS or GLONASS technology for locating the vehicle, but other types of automatic vehicle location technology can also be used. Vehicle information can be viewed on electronic maps via the Internet or specialized software. Urban public transit authorities are an increasingly common user of vehicle tracking systems, particularly in large cities.
<body>
 <header>
          <div class="main">
            <div class="logo">
 <img src="images - Copy/images (3).jpg">
 </div>
 <ul>
 <li><a href="vehicle is lost.html">vehicle</a></li>
 <li><a href="#"


  <div class="title">
  <h1> anti theft device</h1>
  Contents
1	Steering</p>
2	Braking</p>
3	Throttle control
4	Transmission</p>
5	Signals and lighvting
6	Instrumentation</p>
7	Starting and running the engine
8	Additional controls</p>
</head>
GPS tracking: The device fits into the vehicle and captures the GPS location information apart from other vehicle information at regular intervals<p>
</p> to a central server. Other vehicle information can include fuel amount, engine temperature, altitude, reverse geocoding, door open/close,<p>
</p> tire pressure, cut off fuel, turn off ignition, turn on headlight, turn on taillight, battery status, GSM area code/cell code decoded,<p>
</p> number of GPS satellites in view, glass open/close, fuel amount, emergency button status, cumulative idling, computed odometer, engine RPM, throttle position, GPRS status and a lot more. Capability of these devices actually decide the final capability of the whole tracking system; most vehicle tracking systems, in addition to providing the vehicle's location data, feature a wide range of communication ports that can be used to integrate other onboard systems, allowing to check their status and control or automate their operation[2].
GPS tracking server: The tracking server has three responsibilities: receiving data from the GPS tracking unit, securely storing it, and serving this information on demand to the user.
User interface: The UI determines how one will be able to access information, view vehicle data, and elicit important details from it.
<img src="images - Copy/images (2).jpg">
<header>
  </div>
 </header>
</body>
</html>